<!-- <div class="map" style="background-image: url('<%#= @flat.picture_url %>')"></div> -->

<div class="container">
    <h1><%= @cocktail.name %></h1>
    <% @cocktail.doses.each do |dose| %>
    <%= dose.description %>
    <%= dose.ingredient.name %>
    <% end %>
    <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
    <br>
    <br>
    <div class="btn btn-outline-info">
      <%= link_to "Add description", new_cocktail_dose_path(@cocktail) %>
    </div>
    |
    <%= link_to "Home", cocktails_path %>
    |
</div>
